# Georgia Tech ISYE6420 Course Project

Fall 2023
Spencer Vore

In [7]:
import pymc
import pandas as pd
import arviz as az

In [11]:
data = pd.read_csv("abalone/abalone.data", header=None)

In [12]:
data.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [6]:
%load_ext watermark
%watermark -n -u -v -iv -p pytensor

Last updated: Fri Nov 24 2023

Python implementation: CPython
Python version       : 3.11.6
IPython version      : 8.15.0

pytensor: 2.17.3

pymc  : 5.9.1
arviz : 0.16.1
pandas: 2.1.1